{% extends 'index.html' %}  

{% block content %}  
<form action="">
  <fieldset>
    <div>
      <textarea name="title" id="title" cols="30" rows="10" placeholder="제목"></textarea>
    </div>
    <div class="img-preview">
      <img id="img-preview" src="" style="display: none;" width="250" alt="미리보기">
      <input id="img-url" type="hidden" name="url">
    </div>
    <div>
      <textarea name="title" id="title" cols="30" rows="10" placeholder="내용"></textarea>
    </div>
  </fieldset>
  <label id="img-label" for="img">사진 업로드</label>
  <input id="img" type="file" accept="image/*">
  <button type="submit">등록</button>
</form>
{% endblock %}

{% block script %}
<script>
  const image = document.getElementById('img');
  const imageUrl = document.getElementById('img-url');
  const imagePreview = document.getElementById('img-preview');

  if (image) {
    image.addEventListener('change', function(e) {
    const formData = new FormData();
    // console.log(this, this.files);
    formData.append('img', this.files[0]);
    axios.post('/post/img', formData)
      .then((res) => {
        imageUrl.value = res.data.url;
        imagePreview.src = res.data.url;
        imagePreview.style.display = 'inline';
      })
      .catch((err) => {
        console.error(err);
      });
    });
  }
</script>
{% endblock %}